In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('./clean_car_sales.csv')

Now we are going to explore all data to find outliers

In [59]:
all_manufactors = df['manufacturer'].unique()
print(all_manufactors)

['acura' 'audi' 'bmw' 'buick' 'cadillac' 'chevrolet' 'chrysler' 'dodge'
 'ford' 'honda' 'hyundai' 'infiniti' 'jaguar' 'jeep' 'lexus' 'lincoln'
 'mitsubishi' 'mercury' 'mercedes-b' 'nissan' 'oldsmobile' 'plymouth'
 'pontiac' 'porsche' 'saab' 'saturn' 'subaru' 'toyota' 'volkswagen'
 'volvo']

In [60]:
all_models = df['model'].unique()
print(all_models)

['integra' 'tl' 'cl' 'rl' 'a4' 'a6' 'a8' '323i' '328i' '528i' 'century'
 'regal' 'park avenue' 'lesabre' 'deville' 'seville' 'eldorado' 'catera'
 'escalade' 'cavalier' 'malibu' 'lumina' 'monte carlo' 'camaro' 'corvette'
 'prizm' 'metro' 'impala' 'sebring coupe' 'sebring conv.' 'concorde'
 'cirrus' 'lhs' 'town & country' '300m' 'neon' 'avenger' 'stratus'
 'intrepid' 'viper' 'ram pickup' 'ram wagon' 'ram van' 'dakota' 'durango'
 'caravan' 'escort' 'mustang' 'contour' 'taurus' 'focus' 'crown victoria'
 'explorer' 'windstar' 'expedition' 'ranger' 'f-series' 'civic' 'accord'
 'cr-v' 'passport' 'odyssey' 'accent' 'elantra' 'sonata' 'i30' 's-type'
 'wrangler' 'cherokee' 'grand cherokee' 'es300' 'gs300' 'gs400' 'ls400'
 'lx470' 'rx300' 'continental' 'town car' 'navigator' 'mirage' 'eclipse'
 'galant' 'diamante' '3000gt' 'montero' 'montero sport' 'mystique'
 'cougar' 'sable' 'grand marquis' 'mountaineer' 'villager' 'c-class'
 'e-class' 's-class' 'sl-class' 'slk' 'slk230' 'clk coupe' 'cl500'
 'm-class' 'sentra' 'altima' 'maxima' 'quest' 'pathfinder' 'xterra'
 'frontier' 'cutlass' 'intrigue' 'alero' 'aurora' 'bravada' 'silhouette'
 'breeze' 'voyager' 'prowler' 'sunfire' 'grand am' 'firebird' 'grand prix'
 'bonneville' 'montana' 'boxter' 'carrera coupe' 'carrera cabrio' '5-sep'
 '3-sep' 'sl' 'sc' 'sw' 'lw' 'ls' 'outback' 'forester' 'corolla' 'camry'
 'avalon' 'celica' 'tacoma' 'sienna' 'rav4' '4runner' 'land cruiser'
 'golf' 'jetta' 'passat' 'cabrio' 'gti' 'beetle' 's40' 'v40' 's70' 'v70'
 'c70' 's80']

In [61]:
all_engine_sizes = df['engine_size'].unique()
print(all_engine_sizes)

[1.8  3.2  3.5  2.8  4.2  2.5  3.1  3.8  4.6  3.   5.7  2.2  3.4  1.
 2.7  2.   3.06 8.   5.2  3.9  2.4  4.   1.6  2.3  1.5  4.7  5.4  3.3
 4.3  5.   1.9  2.9 ]

In [62]:
all_vec_type = df['vehicle_type'].unique()
print(all_vec_type)

['passenger' 'car']

We can see that we have two types of cars, 'car' and 'passenger', what does that mean?
Lets explore further...

In [63]:
passenger_df = df[df['vehicle_type'] == 'passenger']
print(passenger_df['model'].unique())

['integra' 'tl' 'cl' 'rl' 'a4' 'a6' 'a8' '323i' '328i' '528i' 'century'
 'regal' 'park avenue' 'lesabre' 'deville' 'seville' 'eldorado' 'catera'
 'cavalier' 'malibu' 'lumina' 'monte carlo' 'camaro' 'corvette' 'prizm'
 'metro' 'impala' 'sebring coupe' 'sebring conv.' 'concorde' 'cirrus'
 'lhs' '300m' 'neon' 'avenger' 'stratus' 'intrepid' 'viper' 'escort'
 'mustang' 'contour' 'taurus' 'focus' 'crown victoria' 'civic' 'accord'
 'accent' 'elantra' 'sonata' 'i30' 's-type' 'es300' 'gs300' 'gs400'
 'ls400' 'continental' 'town car' 'mirage' 'eclipse' 'galant' 'diamante'
 '3000gt' 'mystique' 'cougar' 'sable' 'grand marquis' 'c-class' 'e-class'
 's-class' 'sl-class' 'slk' 'slk230' 'clk coupe' 'cl500' 'sentra' 'altima'
 'maxima' 'cutlass' 'intrigue' 'alero' 'aurora' 'breeze' 'prowler'
 'sunfire' 'grand am' 'firebird' 'grand prix' 'bonneville' 'boxter'
 'carrera coupe' 'carrera cabrio' '5-sep' '3-sep' 'sl' 'sc' 'sw' 'lw' 'ls'
 'outback' 'corolla' 'camry' 'avalon' 'celica' 'golf' 'jetta' 'passat'
 'cabrio' 'gti' 'beetle' 's40' 'v40' 's70' 'v70' 'c70' 's80']

Looks like all values with type 'passenger' are cars.

In [64]:
car_df = df[df['vehicle_type'] == 'car']
print(car_df['model'].unique())

['escalade' 'town & country' 'ram pickup' 'ram wagon' 'ram van' 'dakota'
 'durango' 'caravan' 'explorer' 'windstar' 'expedition' 'ranger'
 'f-series' 'cr-v' 'passport' 'odyssey' 'wrangler' 'cherokee'
 'grand cherokee' 'lx470' 'rx300' 'navigator' 'montero' 'montero sport'
 'mountaineer' 'villager' 'm-class' 'quest' 'pathfinder' 'xterra'
 'frontier' 'bravada' 'silhouette' 'voyager' 'montana' 'forester' 'tacoma'
 'sienna' 'rav4' '4runner' 'land cruiser']

And all values with type 'car' are trucks/suv

Let's change the type values so we can represent it better than 'car' and 'passenger' to 'car' and 'truck/suv'

In [65]:
df['vehicle_type'] = df['vehicle_type'].replace('car', 'truck/suv')
df['vehicle_type'] = df['vehicle_type'].replace('passenger', 'car')

In [66]:
df.head()

,manufacturer,model,sales_in_thousands,year_resale_value,vehicle_type,price_in_thousands,engine_size,horsepower,wheel_base,width,length,curb_weight,fuel_capacity,fuel_efficiency
0,acura,integra,16.919,16.360,car,21.500,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0
1,acura,tl,39.384,19.875,car,28.400,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0
2,acura,cl,14.114,18.225,car,27.391,3.2,225,106.9,70.6,192.0,3.470,17.2,26.0
3,acura,rl,8.588,29.725,car,42.000,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0
4,audi,a4,20.397,22.255,car,23.990,1.8,150,102.6,68.2,178.0,2.998,16.4,27.0

Everyithing looks awesome :) Lets export it.

In [67]:
df.to_csv('./clean_car_sales.csv')